{% extends "header.html" %}
{% block content %}

<div class="box primary">

    <header class="text-success">
        <div class="icons"><i class="fa fa-home"></i></div>
        <h5>HOME</h5>
    </header>
</div>
<div class="row">

          <div class="col-xs-12" style="height:10px;"></div>
          <div class="col-xs-12">
			<center>
            <img src="{{base_url}}assets/img/logo_padi.png" /><br>
			<div style="margin-left:50px;"><img src="{{base_url}}assets/img/deltagrow_logo_with_text.png" /></div>
			</center>
          </div>
		  <!--
          <div class="col-xs-12" style="height:25px;"></div>
           <div class="col-xs-12" style="text-align:justify; font-size:14px;">
           </div>
		   -->
        </div>
</div>



{% endblock %}
