<!-- #menu -->
<ul id="menu" class="bg-blue dker">
  <li class="nav-header">Menu</li>
  <li class="">
    <a href="{{base_url}}main/index.html">
      <i class="fa fa-home"></i><span class="link-title">&nbsp;Home</span>
    </a>
  </li>



  <li class="">
    <a href="javascript:;">
      <i class="fa fa-check-square-o"></i>
      <span class="link-title">Order List</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="collapse">

      <li>
        <a href="javascript:;">Customer Order
          <span class="fa arrow"></span>
        </a>

        <ul class="collapse" aria-expanded="false" style="">
          <li><a href="{{base_url}}main/customerorder/neworder.html"><i class="fa fa-caret-right"></i>&nbsp;New Order</a></li>
          <li><a href="{{base_url}}main/customerorder/updatedorder.html"><i class="fa fa-caret-right"></i>&nbsp;Updated Order</a></li>
        </ul>
      </li>

      <li>
        <a href="javascript:;">Retailer Order
          <span class="fa arrow"></span>
        </a>

        <ul class="collapse" aria-expanded="false" style="">
          <li><a href="{{base_url}}main/retailerorder/neworder.html"><i class="fa fa-caret-right"></i>&nbsp;New Order</a></li>
          <li><a href="{{base_url}}main/retailerorder/updatedorder.html"><i class="fa fa-caret-right"></i>&nbsp;Updated Order</a></li>
        </ul>
      </li>

    </ul>
  </li>


  <li class="">
    <a href="javascript:;">
      <i class="fa fa-gears"></i>
      <span class="link-title">Utility</span>
      <span class="fa arrow"></span>
    </a>
    <ul class="collapse">
      <li><a href="{{base_url}}main/utility/changepassword.html"><i class="fa fa-caret-right"></i>&nbsp;Change Password</a></li>
      <li><a href="{{base_url}}main/logout.html"><i class="fa fa-caret-right"></i>&nbsp;Logout</a></li>
    </ul>
  </li>

  <li class="lastmenu"></li>
</ul>
<!-- /#menu -->
