{% extends "header.html" %}
{% block content %}

<div class="box primary">

    <header class="text-success">
        <div class="icons"><i class="fa fa-home"></i></div>
        <h5>HOME</h5>
    </header>
</div>
<div class="row">

          <div class="col-xs-12" style="height:10px;"></div>
          <div class="col-xs-6">
            <img src="{{base_url}}assets/img/main.png" style="width:100%" />
          </div>
          <div class="col-xs-12" style="height:25px;"></div>
           <div class="col-xs-12" style="text-align:justify; font-size:14px;">
                <p>As the leading distributor and provider of crop care and crop protection products since the 1960s, PT Sanitas Agro Division is the trusted source for all our customers’ agricultural needs.</p>
                <p>We partner with reputable multi-national companies to offer a wide range of agricultural chemicals, seeds, and fertilizers for a one-stop-solution for our customers.</p>
                <p>Our products range include:</p> 
                <ul>
                    <li>Herbicide</li>
                    <li>Fungicide</li>
                    <li>Insecticide</li>
                    <li>Seeds</li>
                    <li>Fertilizers</li>
                </ul>

           </div>
        </div>
</div>



{% endblock %}
