{% extends "header.html" %}
{% block content %}
<style>
    .photo_grid{
        width: 60px;
        height: auto;
        border-radius: 50%;
    }
</style>
<div class="col-md-12">
  <div class="box primary">
      <header class="text-success">
          <div class="icons"><i class="fa fa-cube"></i></div>
          <h5>CUSTOMER</h5>
      </header>
  </div>
</div>
<div class="col-md-12">
    <form class="form-horizontal" action="" method="post" id="formsubmit"  style="margin-bottom:50px;">
      <input type="hidden" name="id" id="id" value="{{ edit.id }}">
      <div class="col-lg-5">

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Customer Name</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" id="name" name="name" value="{{edit.name}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">ID Number</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="identity_number" name="identity_number" value="{{edit.identity_number}}">
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Telephone</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="telephone" name="telephone" value="{{edit.telephone}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Email</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" id="email" name="email" value="{{edit.email}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Address</label>
            <div class="col-lg-7">
              <textarea class="form-control" id="address" name="address" required>{{edit.address}}</textarea>
            </div>
        </div>
		
		<!-- 
		    <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Region</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="region" name="region" value="{{edit.region_name}}" readonly>
            </div>
        </div>
		-->
		
		<div class="form-group">
            <label for="text1" class="control-label col-lg-4">Region</label>
            <div class="col-lg-5">
                <select name="id_region" id="id_region" class="form-control">
                    {% for reg in region %}
                    <option value="{{reg.id}}" {% if reg.id == edit.id_region %} selected {% endif %}>{{reg.region_name}}</option>
                    {% endfor %}
                </select>
				<input type='hidden' id='regionhidden' name='regionhidden' value='{{edit.region}}'>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Place of Birth</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="place_birth" name="place_birth" value="{{edit.place_birth}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Date of Birth</label>
            <div class="col-lg-3">
              <!--<input type="text" class="form-control datePicker" id="date_birth"  name="date_birth" value="{{edit.date_birth}}" readonly>-->
			  <input type="text" class="form-control datePicker" id="date_birth"  placeholder="optional" name="date_birth" value="{{edit.date_birth}}" style="width:100px;">
            </div>
        </div>

        {% if edit.id !='' %}
        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Photo</label>
            <div class="col-lg-3">
                {% set photo =  'john_doe.png' %}
                {% if edit.photo !='' %}
                {% set photo =  edit.photo %}
                {% endif %}
                <img src="{{base_url}}/assets/photo/customer/{{photo}}" width="200px"">
            </div>
        </div>
        {% endif %}
      </div>
	  
	  <!--adding by TUPA-->
	  <div class="col-lg-12">
          <div class="form-group">
              <div class="col-lg-5">
                  <input type="submit" class="btn btn-default" value="Save">
                  <input type="button" class="btn btn-lighter" value="Cancel" onclick="window.location='{{base_url}}main/datamaster/customer.html'">
              </div>
          </div>
      </div>
	  
      </form>

</div>

<div class="col-md-12">


  <div class="judul_sub">
    <hr/>
  </div>

  <table id="dataList" class="display" cellspacing="0" width="100%">

        <thead>

          <tr>
              <th>No.</th>
              <th>Customer Name</th>
              <th>ID Number</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>Address</th>
              <th>Region</th>
              <th>Birth</th>
              <th>Photo</th>
              <th>Proses</th>
          </tr>
          <tr>
            <td>No.</td>
            <td>Customer Name</td>
            <td>ID Numbe</td>
            <td>Telephone</td>
            <td>Email</td>
            <td>Address</td>
            <td>Region</td>
            <td>Birth</td>
            <td>Photo</td>
            <td>Proses</td>
          </tr>
      </thead>
      <tbody>
          {% for dt in data %}
          <tr>
            <td>{{loop.index}}.</td>
            <td style="text-transform: uppercase;">{{dt.name}}</td>
            <td>{{dt.identity_number}}</td>
            <td>{{dt.telephone}}</td>
            <td>{{dt.email}}</td>
            <td>{{dt.address}}</td>
            <td>{{dt.region_name}}</td>
            <td>{{dt.place_birth}}/{{dt.date_birth|date("Y-m-d")}}</td>
            <td>
                {% set photo =  'john_doe.png' %}
                {% if dt.photo !='' %}
                {% set photo =  dt.photo %}
                {% endif %}
                <img src="{{base_url}}/assets/photo/customer/{{photo}}" onclick="ResizeImage(this.src);" class='photo_grid'>
			</td>
            <td>
                <a href="{{base_url}}main/datamaster/customer/{{dt.id}}.html"><modify class='fa fa-pencil'></modify></a>
                <!--<a href="javascript:void(0);" onclick="andaYakin('{{base_url}}main/datamaster/deletecustomer/{{dt.id}}.html');"><remove class='fa fa-trash'></remove></a>-->
            </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

</div>


  
<script language="javascript">

$(function() {
    $('#id_region').change(function() {
        var x = $(this).val();
		var xtext = $(this).find('option:selected').text();
        $('#regionhidden').val(xtext);
    });
});

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    var x = 0;
    $('#dataList thead tr:eq(1) td').each( function () {
      var title = $(this).text();
      if (!$(this).is(':last-child') && !$(this).is(':first-child') ) {
        $(this).html( '<input type="text" style="color:#333" placeholder="Search '+title+'" />' );
      }
      else{
        $(this).html("");
      }

  	} );

  	// DataTable
  	var table = $('#dataList').DataTable({
      "bSortCellsTop": true,
      "pageLenght" : 25,
      "searching": true,
      "aLengthMenu": [[25, 100, 200, -1], [25, 100, 200, "All"]],
    });

  	// Apply the search
  	table.columns().every( function () {
  		$('#dataList thead tr:eq(1) td input').on('keyup change', function () {
        table.column($(this).parent().index() + ':visible').search(this.value).draw();
      });
  	});

    if ($('#formsubmit').length) {
        $("#formsubmit").validate({
          rules: {
            name: {
              required: true,
              minlength: 3
            },
            telephone: {
              required: true,
              digits: true
            },
            email: {
              required: true,
              email: true
            },
            address: {
              required: true,
              minlength: 3
            },
            region: {
              required: true,
              minlength: 3
            }
          }
        });
    }


});

if ($('.datePicker').length) {
  $('.datePicker').datepicker({
      dateFormat: 'yy-mm-dd',
      yearRange: "1955:2005",
      changeYear: true,
      changeMonth: true,
      prevText: '',
      nextText: ''
  });
}

function ResizeImage(url) {
    // Create an image
    var img = document.createElement("img");

	img.src = url;
	
	var canvas = document.createElement("canvas");
	//var canvas = $("<canvas>", {"id":"testing"})[0];
	var ctx = canvas.getContext("2d");
	ctx.drawImage(img, 0, 0);

	var MAX_WIDTH = 800;
	var MAX_HEIGHT = 500;
	var width = img.width;
	var height = img.height;

	if (width > height) {
		if (width > MAX_WIDTH) {
			height *= MAX_WIDTH / width;
			width = MAX_WIDTH;
		}
	} else {
		if (height > MAX_HEIGHT) {
			width *= MAX_HEIGHT / height;
			height = MAX_HEIGHT;
		}
	}
	canvas.width = width;
	canvas.height = height;
	var ctx = canvas.getContext("2d");
	ctx.drawImage(img, 0, 0, width, height);

	var dataurl = canvas.toDataURL("image/png");
	
	$.fancybox.open({
		href : dataurl,
		type : 'iframe',
		helpers : {
			media: true
		},
		width: "30%",
		height: "100%",
		autoSize: false,
		scrolling: false
   });
}
</script>
{% endblock %}
