{% extends "header.html" %}
{% block content %}
<div class="col-md-12">
  <div class="box primary">
      <header class="text-success">
          <div class="icons"><i class="fa fa-cube"></i></div>
          <h5>PRODUCT ITEM</h5>
      </header>
  </div>
</div>
<div class="col-md-12">
  <form class="form-horizontal" action="" method="post" id="formsubmit"  style="margin-bottom:50px;">
      <input type="hidden" name="id" id="id" value="{{ edit.id }}">
      <div class="col-lg-5">

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Product Name</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" id="name" name="name" value="{{edit.name}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Price/Pcs</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="price" name="price" value="{{edit.price}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="text1" class="control-label col-lg-4">Price/Krt</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="pricekrt" name="pricekrt" value="{{edit.pricekrt}}" required>
            </div>
        </div>

      </div>

      <div class="col-lg-12">
          <div class="form-group">
              <div class="col-lg-5">
                  <input type="submit" class="btn btn-default" value="Save">
                  <input type="button" class="btn btn-lighter" value="Cancel" onclick="window.location='{{base_url}}main/datamaster/productitem.html'">
              </div>
          </div>
      </div>

      </form>

</div>

<div class="col-md-12">


  <div class="judul_sub">
    <hr/>
  </div>

  <table id="dataList" class="display" cellspacing="0" width="100%">

        <thead>

          <tr>
              <th>No.</th>
              <th>Product Name</th>
              <th>Price/Pcs</th>
              <th>Price/Krt</th>
              <th>Proses</th>
          </tr>
          <tr>
            <td>No.</td>
            <td>Product Name</td>
            <td>Price/Pcs</td>
            <td>Price/Krt</td>
            <td>Proses</td>
          </tr>
      </thead>
      <tbody>
          {% for dt in data %}
          <tr>
            <td>{{loop.index}}.</td>
            <td>{{dt.name}}</td>
            <td>{{dt.price}}</td>
            <td>{{dt.pricekrt}}</td>
            <td>
                <a href="{{base_url}}main/datamaster/productitem/{{dt.id}}.html"><modify class='fa fa-pencil'></modify></a>
                <a href="javascript:void(0);" onclick="andaYakin('{{base_url}}main/datamaster/deleteproductitem/{{dt.id}}.html');"><remove class='fa fa-trash'></remove></a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

</div>





<script language="javascript">


$(document).ready(function() {
    // Setup - add a text input to each footer cell
    var x = 0;
    $('#dataList thead tr:eq(1) td').each( function () {
      var title = $(this).text();
      if (!$(this).is(':last-child') && !$(this).is(':first-child') ) {
        $(this).html( '<input type="text" style="color:#333" placeholder="Search '+title+'" />' );
      }
      else{
        $(this).html("");
      }

  	} );

  	// DataTable
  	var table = $('#dataList').DataTable({
      "bSortCellsTop": true,
      "pageLenght" : 25,
      "searching": true,
      "aLengthMenu": [[25, 100, 200, -1], [25, 100, 200, "All"]],
    });

  	// Apply the search
  	table.columns().every( function () {
  		$('#dataList thead tr:eq(1) td input').on('keyup change', function () {
        table.column($(this).parent().index() + ':visible').search(this.value).draw();
      });
  	});

    if ($('#formsubmit').length) {
        $("#formsubmit").validate({
          rules: {
            name: {
              required: true,
              minlength: 3
            },
            price: {
              required: true,
              digits: true
            },
            pricekrt: {
              required: true,
              digits: true
            }
          }
        });
    }


});

if ($('.datePicker').length) {
  $('.datePicker').datepicker({
      dateFormat: 'yyy-mm-dd',
      yearRange: "2015:2030",
      changeYear: true,
      changeMonth: true,
      prevText: '',
      nextText: ''
  });
}
</script>
{% endblock %}
